.wave-top-0 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-top-0 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 169px;
}

.wave-top-0 .shape-fill {
    animation: wave-anime-0 12s alternate infinite;
    fill: #8B008B;
}

.wave-bottom-1 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-bottom-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
}

.wave-bottom-1 .shape-fill {
    animation: wave-anime-1 12s alternate infinite;
    fill: #00FFBF;
}

.wave-top-1 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-top-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
}

.wave-top-1 .shape-fill {
    animation: wave-anime-1 12s alternate infinite;
    fill: #00FFBF;
}


.wave-bottom-2 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-bottom-2 svg {
    display: block;
    width: calc(210% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}

.wave-bottom-2 .shape-fill {
    animation: wave-anime-2 12s alternate infinite;
    fill: #FF8C00;
}

.wave-top-2 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-top-2 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.wave-top-2 .shape-fill {
    animation: wave-anime-2 12s alternate infinite;
    fill: #FF8C00;
}


.custom-shape-divider-top-1689596889 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1689596889 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1689596889 .shape-fill {
    animation: wave-anime-3 12s alternate infinite;
    fill: #FFC6FF;
}


.custom-shape-divider-bottom-1689596931 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689596931 svg {
    display: block;
    width: calc(200% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689596931 .shape-fill {
    animation: wave-anime-3 12s alternate infinite;
    fill: #FFC6FF;
}


.custom-shape-divider-bottom-1689597182 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1689597182 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689597182 .shape-fill {
    animation: wave-anime-0 12s alternate infinite;
    fill: #8B008B;
}




@media (max-width: 480px) {

    .wave-top-0 svg {
        height: 120px;
    }

    .wave-bottom-2 svg {
        height: 60px;
    }

    .wave-top-2 svg {
        height: 60px;
    }

    .custom-shape-divider-bottom-1689596931 svg {
        height: 60px;
    }

    .custom-shape-divider-top-1689596889 svg {
        height: 60px;
    }

    .custom-shape-divider-bottom-1689597182 svg {
        height: 60px;
    }
}



@keyframes wave-anime-0 {
    from {
        fill: #8B008B;
    }

    to {
        fill: #FF00BF;
    }
}

@keyframes wave-anime-1 {
    from {
        fill: #00FFBF;
    }

    to {
        fill: #008080;
    }
}

@keyframes wave-anime-2 {
    from {
        fill: #FF8C00;
    }

    to {
        fill: #FF6000;
    }
}

@keyframes wave-anime-3 {
    from {
        fill: #FFC6FF;
    }

    to {
        fill: #FF00FF;
    }
}