h1,
h2,
h3,
h4,
h5
    font-family: "Ubuntu Bold"

    @for $var from 1 through 5
        &.ps-#{$var}
            padding-left: ($var * 0.5rem) 

.is-
    &1
        font-size: 2rem
        padding: .5rem 0 1rem 0
    &2
        font-size: 1.75rem
        padding: .5rem 0 1rem 0
    &3
        font-size: 1.5rem
        padding: .5rem 0 1rem 0

    