<main>
    <div class="md:m-12 m-6">
        <div class="felx flex-col border rounded p-6">
            <h1 class="text-4xl">
                {{artigo.title}} <br>
            </h1>
            <hr>
            <article class="font-serif md:text-xl text-lg md:mx-9 p-3 ">
                    {{artigo.post | raw}}
            </article>
            <div class="md:text-xs text-sm flex justify-end">
                <span class="">
                    {{artigo.criado}}
                </span>
            </div>
        </div>
    </div>
</main>