<header>
    <nav class="flex flex-row p-4 bg-green-700/50 items-center">
        <h1 class="text-3xl">
            <a href="/">
                GNS
            </a>
        </h1>
        <div class="ml-auto list-none text-center flex flex-row text-xl">
            <div>
                <a class="p-2 mx-1 hover:bg-green-700/75 rounded" href="/">
                    Home
                </a>
            </div>
            <div>
                <a class="p-2 mx-1 hover:bg-green-700/75 rounded" href="/about">
                    About
                </a>
            </div>
            <div>
                <a class="p-2 mx-1 hover:bg-green-700/75 rounded" href="/blog">
                    Blog
                </a>
            </div>
            <div>
                <a class="p-2 mx-1 hover:bg-green-700/75 rounded" href="/minecraft">
                    SMP
                </a>
            </div>
        </div>
    </nav>
</header>