<main class="animate__animated animate__fadeIn">
    <div class="p-3 mx-12 sm:mx-6">
        <div class="flex flex-col sm:flex-row ">
            <div class="basis-1/2 border rounded p-2 m-1">
                <h1 class="text-3xl">About me</h1>
                <div class="text-lg p-2">
                    <p class="p-2">
                        Hello, I am Giovanni Neves Sadauscas, {{age}}, if you want to use an acronym, GNS.
                    </p>
                    <p class="p-2">
                        My main programming language is PHP (using since 2018). Development is focused on back-end
                        application.
                    </p>
                    <p class="p-2">
                        I previously worked with Java on Android and Typescript (Javascript) using NEXT JS, also
                        creating the back-end in NodeJS.
                    </p>
                </div>
            </div>
            <div class="basis-1/2">
                <div class="border rounded p-2 m-1">
                    <h1 class="text-xl">useful links</h1>
                </div>
            </div>
        </div>
    </div>
</main>