<main class="animate__animated animate__fadeIn">
    <div class="p-3 mx-12 sm:mx-6">
        <div class="flex flex-col sm:flex-row ">
            <div class="basis-1/2 border rounded p-2 m-1">
                <h1 class="text-3xl">About me</h1>
                <div class="text-lg p-2 text-justify">
                    <p class="p-2">
                        Hello, I am Giovanni Neves Sadauscas, {{age}}, if you want to use an acronym, GNS.
                    </p>
                    <p class="p-2">
                        My main programming language is PHP (using since 2018). Development is focused on back-end
                        application.
                    </p>
                    <p class="p-2">
                        I previously worked with Java on Android and Typescript (Javascript) using NEXT JS, also
                        creating the back-end in NodeJS.
                    </p>
                </div>
            </div>
            <div class="basis-1/4">
                <div class="border rounded p-2 m-1">
                    <h1 class="text-xl">Useful links</h1>
                    <div class="text-lg p-2 text-justify">
                        <p class="p-2">
                            <i class="fa-brands fa-linkedin"></i>
                            <a href="https://www.linkedin.com/in/giovanni-neves-sadauscas/" target="_blank"
                                class="text-blue-300 hover:underline"
                                title="Social media for professionals">
                                LinkedIn
                            </a>
                        </p>
                        <p class="p-2">
                            <i class="fa-brands fa-gitlab"></i>
                            <a href="https://gitlab.com/giovanni_ns" target="_blank"
                                class="text-blue-300 hover:underline"
                                title="Here is where I save my code">
                                GitLab
                            </a>
                        </p>
                        <p class="p-2">
                            <i class="fa-solid fa-at"></i>
                            <a href="mailto:giovannins@giovannins.xyz" class="text-blue-300 hover:underline"
                                title="Very creative">
                                giovannins@giovannins.xyz
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>