<main class="animate__animated animate__fadeIn">
    <div class="p-3 mx-12 sm:mx-6">
        <div class="flex flex-col sm:flex-row">
            <div class="basis-1/2 border rounded p-2 m-1">
                <h1 class="text-3xl">Welcome!</h1>
                <div class="text-lg p-2 text-justify">
                    <p class="p-2">
                        This is my personal website, here you can see some of the things I do and I also have my blog
                        which you can
                        read, if you wish, obviously.
                    </p>
                    <p class="p-2">
                        If you want more information about me, on the "about" page you can find more details and some
                        interesting links
                    </p>
                </div>
            </div>
            <div class="basis-1/2">
            </div>
        </div>
    </div>
    <div class="p-3 mx-12 sm:mx-6">
        <div class="flex flex-col sm:flex-row">
            <div class="basis-2/3 border rounded p-2 m-1">
                <h1 class="text-3xl">My configuration</h1>
                <h2 class="text-xl text-gray-400">This is my personal hardware configuration, Linux
                    configuration</h2>
            </div>
        </div>
    </div>
</main>